%h2 Cerca un viaggio

= form_tag finds_path, :method => :post do

    = label :travel, :partenza, 'Partenza'
    = text_field :travel, :partenza

    = label :travel, :arrivo, 'Città di arrivo'
    = text_field :travel, :arrivo
 
    = label :travel, :data, 'Data'
    = date_field :travel, :data
    
    = submit_tag 'Conferma' 
