%h2 Cerca un viaggio

= form_tag finds_path, :method => :post do

    = label :travel, :citta_partenza, 'partenza'
    = text_field :travel, :citta_partenza

    = label :travel, :citta_arrivo, 'Città di arrivo'
    = text_field :travel, :citta_arrivo
 
    = label :travel, :data, 'Data'
    = date_select :travel, :data
    
    = submit_tag 'Conferma' 
