%h1 Dettagli Viaggio

%h2 Utente
%ul#user
  %li
    %strong Nome:
    = @travel.user.nome
  %li
    %strong Cognome:
    = @travel.user.cognome
  %li
    %strong Email:
    = @travel.user.email
  %li
    %strong Telefono:
    = @travel.user.telefono
  %li
    %strong Rating:
    = @travel.user.rating

%h2 Viaggio
%ul#details
  %li
    %strong Città di partenza:
    = @travel.citta_partenza
  %li
    %strong Città di Arrivo:
    = @travel.citta_arrivo
  %li
    %strong Data:
    = @travel.data
  %li
    %strong Ora di partenza:
    = @travel.ora_partenza
  %li
    %strong Ora di arrivo:
    = @travel.ora_arrivo
  %li
    %strong Via di partenza:
    = @travel.via_partenza
  %li
    %strong Via di arrivo:
    = @travel.via_arrivo
  %li
    %strong Prezzo:
    = @travel.prezzo
  %li
    %strong Numero posti disponibili:
    = @travel.posti_disponibili
