%h1 Lista utenti con basso rating

%table#users
  %thead
    %tr
      %th Nome
      %th Cognome
      %th Email
      %th Rating
      %th Data Registrazione
      %th Sospeso
      %th Nr. segnalazioni
      %th
      %th


  %tbody
  - @users.each do |user|
    %tr
      %td= user.nome
      %td= user.cognome
      %td= user.email
      - if user.rating != nil
        %td= "%.1f" % user.rating
      - else 
        %td= "nessun rating"
      %td= user.created_at
      %td= user.sospeso   
      %td= user.segnalato
      -if user.admin?
        -# %td= link_to "Cancella utente", user_path(user), :method => :delete
        %td= "ADMIN"
        %td= "ADMIN"     
      -else
        %td= button_to "Cancella utente", low_rating_path(user), :data => {:confirm => "Vuoi cancellare questo utente?"}, :method => :delete
        -if user.sospeso?
          %td= button_to "Sblocca utente", low_rating_path(user), :data => {:confirm => "Vuoi bloccare questo utente?"}, :method => :put
        -else
          %td= button_to "Blocca utente", low_rating_path(user), :data => {:confirm => "Vuoi bloccare questo utente?"}, :method => :put

-# %br
-# %br
%br
%td= link_to "Torna alla homepage", root_path()
