%h1 I miei Viaggi

%h2 Viaggi da recensire
%table#travels
	%thead
		%tr
			%th Nome Conducente
			%th Data
			%th Partenza
			%th Arrivo
			%th Prezzo
			%th Dettagli
			%th Recensione

	%tbody
		- @past_travels.each do |travel|
			%tr
				%td= travel.user.nome
				%td= travel.data
				%td= travel.partenza
				%td= travel.arrivo
				%td
					= travel.prezzo
					= "€"				
				%td= link_to ("Dettagli Viaggio"), travel_path(travel) 
				%td= button_to "Lascia una recensione", reviews_path(travel), :method => :get



%h2 Viaggi programmati
%table#travels
	%thead
		%tr
			%th Nome Utente
			%th Data
			%th Partenza
			%th Arrivo
			%th Prezzo
			%th Dettagli
			%th Rimuovi
	%tbody
		- @future_joinedtravels.each do |travel|
			%tr
				%td= travel.user.nome
				%td= travel.data
				%td= travel.partenza
				%td= travel.arrivo
				%td
					= travel.prezzo
					= "€"
				%td= link_to ("Dettagli Viaggio"), travel_path(travel) 
				%td= button_to ("Rimuovi prenotazione"), joinedtravel_path(travel), :data => {:confirm => "Vuoi rimovere la prenotazione da questo viaggio?"}, :method => :delete

%h2 Viaggi creati
%table#travels
	%thead
		%tr
			%th Nome Utente
			%th Data
			%th Partenza
			%th Arrivo
			%th Prezzo      
			%th Dettagli
			%th Cancella    

	%tbody
		- @created_travels.each do |travel|
			%tr
				%td= travel.user.nome
				%td= travel.data
				%td= travel.partenza
				%td= travel.arrivo
				%td
					= travel.prezzo
					= "€"
				%td= link_to ("Dettagli Viaggio"), travel_path(travel)
				%td= button_to ('Cancella questo viaggio'), travel_path(travel), :data => {:confirm => "Vuoi cancellare questo viaggio?"}, :method => :delete
%br
%td= link_to "Torna alla homepage", root_path()


