<h1>Profilo Utente</h1>
<%= image_tag @user.image%>
<br>
<br>
 <ul id="user">
  <li>
    <strong>Nome:</strong>
    <%= @user.nome %>
  </li>
  <li>
    <strong>Cognome:</strong>
    <%= @user.cognome %>
  </li>
  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
  <li>
    <strong>Telefono:</strong>
    <%= @user.telefono %>
  </li>
  <li>
    <strong>Rating:</strong>
    <% if @user.rating != nil %>
      <%= "%.1f" % @user.rating %>
    <% end %>
  </li>
</ul>
<br/>
<% if current_user.id == params[:id].to_i %>
  <tr>
    <td>
      <%= link_to ("Cambio password"), edit_user_registration_path %>
    </td>
  </tr>
  <br/>
<% end %>
<br/>
<td>
  <%= link_to "Torna alla homepage", root_path() %>
</td>

