<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
    th{
        background-color: #2C4F70;
        color: floralwhite;
        font-size: xx-large;
        font-family: Arial, Helvetica, sans-serif;
    }
        
     td{
         color: black;
         background-color: cornsilk;
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-size: large;
        }
        
     button{
         background-color: darkgreen;
         text-align: center;
         border-radius: 12px;
         width: 200px;
         color: cornsilk;
    }
        
     button:hover{
        background-color: cornsilk;
        color: black;
    }  
    h1{

       color: red;
       text-align: center;
   }        


 </style>
</head>
<body>
<h1>Viaggi come passeggero</h1>
<table>
<tr>
<th> Nome Utente</th>
<th> Data </th>
<th>Partenza</th>
<th>Arrivo</th>
<th>Dettagli</th>
</tr>
<% @past_joinedtravels.each do |travel| %>
<tr>
 <td><%= travel.user.nome%></td>
 <td><%= travel.data%></td>
 <td><%= travel.citta_partenza%></td>
 <td><%= travel.citta_arrivo%></td>
 <td><%= travel_path(travel)%></td>
 <td><button value="rimuovi" class="button">rimuovi</button></td>
</tr>
<% end %>
</table>
</body>
</html>