%h1 I miei Viaggi

%h2 Viaggi passati
%table#travels
	%thead
		%tr
			%th Nome Utente
			%th Data
			%th Partenza
			%th Arrivo
			%th Prezzo
			%th Dettagli
			%th Recensione

	%tbody
		- @past_joinedtravels.each do |travel|
			%tr
				%td= travel.user.nome
				%td= travel.data
				%td= travel.citta_partenza
				%td= travel.citta_arrivo
				%td
					= travel.prezzo
					= "€"				
				%td= link_to ("Dettagli Viaggio"), travel_path(travel) 
				%td= link_to ("Lascia una recensione"), user_path(travel.user)


%h2 Viaggi programmati
%table#travels
	%thead
		%tr
			%th Nome Utente
			%th Data
			%th Partenza
			%th Arrivo
			%th Prezzo
			%th Dettagli
			%th Rimuovi
	%tbody
		- @future_joinedtravels.each do |travel|
			%tr
				%td= travel.user.nome
				%td= travel.data
				%td= travel.citta_partenza
				%td= travel.citta_arrivo
				%td
					= travel.prezzo
					= "€"
				%td= link_to ("Dettagli Viaggio"), travel_path(travel) 
				%td= link_to ("Rimuovi prenotazione")

%h2 Viaggi creati
%table#travels
	%thead
		%tr
			%th Nome Utente
			%th Data
			%th Partenza
			%th Arrivo
			%th Prezzo      
			%th Dettagli
			%th Cancella    

	%tbody
		- @created_travels.each do |travel|
			%tr
				%td= travel.user.nome
				%td= travel.data
				%td= travel.citta_partenza
				%td= travel.citta_arrivo
				%td
					= travel.prezzo
					= "€"
				%td= link_to ("Dettagli Viaggio"), travel_path(travel) 
				%td= link_to ('Cancella questo viaggio'), travel_path(travel), :method => :delete



  
