- if current_user.admin? 
	- if current_user.super_admin?
		%h1= "Pagina del Super Admin " + current_user.nome.to_s + " " + current_user.cognome.to_s
	-else
		%h1= "Pagina dell'Admin " + current_user.nome.to_s + " " + current_user.cognome.to_s

	%table#travels
		%tbody
			%tr
				%td= link_to ("Lista utenti"), users_path
			%tr
				%td= link_to ("Utenti segnalati"), segnalatis_path
			%tr
				%td= link_to ("Utenti con basso rating"), low_ratings_path		
			%tr
				%td= link_to ("Lista viaggi"), travels_path(@user)		
			%tr
				%td= link_to ("Logout"), destroy_user_session_path


- else
	%h1= 'Pagina di ' + current_user.nome.to_s + " " + current_user.cognome.to_s

	%table#travels
		%tbody
			%tr
				%td= link_to ("Profilo"), current_user
			%tr
				%td= link_to ("I miei viaggi"), joinedtravels_path(@user) 
			%tr
				%td= link_to ("Offri un passaggio"), new_travel_path() 
			%tr
				%td= link_to ("Cerca un viaggio"), new_find_path() 
			%tr
				%td= link_to ("Viaggi disponibili"), travels_path(@user)
			%tr  
				%td= link_to ("Logout"), destroy_user_session_path



