<h2>Modifica utente</h2>
<%= form_tag modificas_path, :method => :post do %>
  <%= label :user, :nome, 'Nome*' %>
  <%= text_field :user, :nome, value: current_user.nome, required: true %>
  <br/>
  <br/>
  <%= label :user, :cognome, 'Cognome*' %>
  <%= text_field :user, :cognome, value: current_user.cognome, required: true %>
  <br/>
  <br/>
  <%= label :user, :telefono, 'Telefono' %>
  <%= text_field :user, :telefono, value: current_user.telefono %>
  <br/>
  <br/>
  <%= label :user, :email, 'Email*' %>
  <%= text_field :user, :email, value: current_user.email, required: true %>
  <br/>
  <br/>
  <div class="field">
    <%= label :user, :image %><br>
    <%= file_field :user, :image %>
    <% if current_user.image? %>
      <%= image_tag current_user.image.thumb.url %>
      <%= label :user, :remove_image %>
      <%= check_box :user, :remove_image %> 
    <% end %>
  </div>
  <br/>
  <%= submit_tag 'Conferma'  %>
  <br/>
  <br/>
  <td>
    <%= "*Campi obbligatori" %>
  </td>
<% end %>
