%h2 Modifica utente

= form_tag modificas_path, :method => :post do

    = label :user, :nome, 'Nome'
    = text_field :user, :nome

    = label :user, :cognome, 'Cognome'
    = text_field :user, :cognome
 
    = submit_tag 'Conferma' 
