%h1 Pagina principale dell'utente

%table#travels
	%tbody
		%tr
			%td= link_to ("Profilo"), user_path(@user) 
		%tr
			%td= link_to ("I miei viaggi"), user_joinedtravels_path(@user) 
		%tr
			%td= link_to ("Offri un viaggio"), new_travel_path() 
		%tr
			%td= link_to ("Viaggi disponibili"), travels_path(@user)
		%tr
			%td= link_to ("Logout"), logout_path() 



  
