%h1 Profilo Utente

%h1 Dettagli Viaggio

%h2 Utente
%ul#user
  %li
    %strong Nome:
    = @user.nome
  %li
    %strong Cognome:
    = @user.cognome
  %li
    %strong Email:
    = @user.email
  %li
    %strong Telefono:
    = @user.telefono
  %li
    %strong Password:
    = @user.password
  %li
    %strong Rating:
    = @user.rating
  
