<head>
    <%= javascript_include_tag 'application' %>
</head>

<h2>Crea un nuovo viaggio</h2>
<%= form_tag travels_path, :method => :post do %>
   <%= label :autocomplete_Adress, 'Partenza*' %>
  <%= text_field :address, :partenza, id: "autocomplete_address", :required => true %>
  <br/>
  <br/>
  <%= label :autocomplete_Adress, 'Destinazione*' %>
  <%= text_field :address, :arrivo, id: "autocomplete_address2", :required => true %>
  <br/>
  <br/>
  <%= label :travel, :data, 'Data*' %>
  <%= date_field :travel, :data, :required => true,  min: Date.today.tomorrow %>
  <br>
  <br>
  <%= label :travel, :ora_partenza, 'Orario partenza*' %>
  <%= time_field :travel, :ora_partenza, :required => true %>
  <br/>
  <br/>
  <br/>
  <%= label :travel, :prezzo, 'Prezzo(€)*' %>
  <%= number_field :travel, :prezzo, :required => true %>
  <br/>
  <br/>
  <%= label :travel, :posti_disponibili, 'Posti Disponibili' %>
  <%= select :travel, :posti_disponibili, [1, 2, 3, 4, 5, 6, 7] %>
  <%= submit_tag 'Conferma'  %>
  <br/>
  <br/>
  <td>*Campi obbligatori</td>
<% end %>
<br/>
</br>
<td>
  <%= link_to "Torna alla homepage", root_path() %>
</td>
