<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>




<h1>Dettagli Viaggio</h1>
<ul id="details">
  <li>
    <strong>Citta di partenza:</strong>
    <%= @travel.citta_partenza %>
  </li>
  <li>
    <strong>Citta di Arrivo:</strong>
    <%= @travel.citta_arrivo %>
  </li>
  <li>
    <strong>Data:</strong>
    <%= @travel.data %>
  </li>
  <li>
    <strong>Ora di partenza:</strong>
    <%= @travel.ora_partenza %>
  </li>
  <li>
    <strong>Ora di arrivo:</strong>
    <%= @travel.ora_arrivo %>
  </li>
  <li>
    <strong>Via di partenza:</strong>
    <%= @travel.via_partenza %>
  </li>
  <li>
    <strong>Via di arrivo:</strong>
    <%= @travel.via_arrivo %>
  </li>
  <li>
    <strong>Prezzo:</strong>
    <%= @travel.prezzo %>
  </li>
  <li>
    <strong>Numero posti disponibili:</strong>
    <%= @travel.posti_disponibili %>
  </li>
</ul>


  
<div id='map' style='width: 600px; height: 400px;'></div>

<script>
  var map = L.map('map').setView(['<%=@partenza[0]['lat']%>', '<%=@partenza[0]['lon']%>'], 10);
  
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: '<a href="https://www.openstreetmap.org/">OpenStreetMap</a> '+
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);

  var partenza = L.marker(['<%=@partenza[0]['lat']%>', '<%=@partenza[0]['lon']%>']).
                    addTo(map).bindTooltip("Partenza").openTooltip();

  var arrivo = L.marker(['<%=@arrivo[0]['lat']%>', '<%=@arrivo[0]['lon']%>']).
                    addTo(map).bindTooltip("Arrivo").openTooltip();
  var group = new L.featureGroup([partenza, arrivo]);

  var latlngs = [
      ['<%=@partenza[0]['lat']%>', '<%=@partenza[0]['lon']%>'],
      ['<%=@arrivo[0]['lat']%>', '<%=@arrivo[0]['lon']%>']
  ];
  L.polyline(latlngs).addTo(map);

  map.fitBounds(group.getBounds());
</script>



<h2>Lista passeggeri</h2>
<h3>Conducente:</h3>
<ul id="details">
  <li>
    <td>
      <%= link_to @conducente.nome + " " + @conducente.cognome, user_path(@conducente) %>
    </td>
  </li>
</ul>
<h3>Passeggeri:</h3>
<ul id="details">
  <%- if @passengers.first == nil %> 
    <td>
      <%= "Non ci sono altri passeggeri" %>
  <%- else %>
    <% @i = 0 %>
    <% @passengers.each do |passenger| %>
      <% @i += 1 %>
      <li>
        <td>
          <%= link_to passenger.nome + " " + passenger.cognome, user_path(passenger) %>
        </td>
      </li>
      <br/>
    <% end %>
  <% end %>
</ul>
<td>
  <%= link_to "Torna ai viaggi", travels_path() %>
</td>
